<body style=" background-image: url('assets/Background.jpg') ; background-size: cover">
    <div>
        <app-header></app-header>
        <div style="display: flex; flex-grow: grow; background-color : #ece8e8 ; height:auto">
            <app-menu></app-menu>
            <div style=" width:auto ; height:100%">
                <br>
                <div style="margin-left:50px; width: 100%;color:black; font-size: 32px; ">Meet the team</div>
                <hr style="width:800px; margin-left:50px">
                <div id="Content">

                    <!-- Team name list -->
                    <div id="teamdata">
                        <tr *ngFor="let namelist of name">
                            <div id="Content" style="width : 400px;">

                                <div id="teamdata" style="width: 25px;align-content: right; padding-left: 150px;"><img src="../../assets/icon.png"
                                        style="width: 25px; height: 25px; margin-left: 50px; "></div>
                                <div id="teamdata" style=" text-align: left;">{{namelist}}</div>

                            </div>
                        </tr>
                    </div>

                    <!-- Image -->
                    <div id="teamdata">
                        <img src="../../assets/holderimage.png" style="width: 300px; height: 130px; margin-left: 50px;">
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>