<body style=" background-image: url('assets/Background.jpg') ; background-size: cover">
    <div>
        <app-header></app-header>
        <div style="display: flex; flex-grow: grow; background-color : #ece8e8 ; height:auto">
            <app-menu></app-menu>
            <div style=" width:auto ; height:100%">
                <br>
                <div style="margin-left:50px; width: 100%;color:black; font-size: 32px; ">About iJavaScript</div>
                <hr style="width:800px; margin-left:50px">
                <table>
                    <tr>
                        <td>
                            <img src="../../assets/holderimage.png"
                                style="width: 300px; height: 130px; margin-left: 50px;">
                        </td>
                        <td>
                            <p style="margin-left: 50px;">iJavaScript is a research group, founded to check on different
                                iJavaScript frameworks based on different design patterns. </p>
                        </td>
                    </tr>

                    <tr>
                        <p style="white-space: nowrap; margin-left: 50px; width: 150px; font-weight:bold ; font-size: 18px;">Re-usable component</p> 
                    </tr>
                </table>
                    <td><app-stickynote></app-stickynote></td>
                    <td><app-stickynote style="margin-left:0"></app-stickynote></td>



            </div>
        </div>
    </div>
</body>