
<!-- <div style="height: 130px; margin-right: 20px; margin-left: 10px;">
    <div >             <a routerLink = "/dashboard/:id" 
        style="text-decoration: none; color : #CC0000; font-weight: bold ;
         font-size :28px;" class="disabled">Dashboard   </a></div><hr style="color :rgb(212, 218, 218)">
    <div>       <a routerLink = "/about" style="text-decoration: none; color : #CC0000; font-weight: bold ;
        font-size :28px;" class="disabled">About   </a></div><hr style="color :rgb(212, 218, 218)">
        <div>       <a routerLink = "/team" style="text-decoration: none; color : #CC0000; font-weight: bold ;
            font-size :28px;" class="disabled">Team   </a></div><hr style="color :rgb(212, 218, 218)">

</div> -->

<body >
<nav>
    <ul class="layer">
      <a routerLink = "/dashboard/:id">Dashboard </a>   
       <a routerLink = "/about">About   </a>   
       <a routerLink = "/team">Team   </a>  
    </ul>   

</nav>
</body>


