
<body  style="overflow :hidden ;  margin-bottom : 0px; ">
<div style="height: 130px; margin-right: 20px; margin-left: 10px; ">
    <table>
        <tr style="height: 10px">
            <td style="background-color:rgb(221,4,4) ; width : 300px; height: 10px " >
                <p style = "height : 0px; font-size: 18px; font-family:Times New Roman;color: white; 
                text-align: left; padding-left : 50px ; ">Angular JS</p> 
                <p style = "height : 0px; font-size: 48px; font-family:Times New Roman; color: white ;
                text-align: left ;padding-left : 50px ; margin-bottom: 300mm;"> iJavaScript</p></td>
            <td></td>
        </tr>
    </table>
</div>
</body>  
